<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCB13tBsxkAEZvdQc9Ukuz6j2uDljToxrg</string>
	<key>GCM_SENDER_ID</key>
	<string>864617191147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.domenosCounter</string>
	<key>PROJECT_ID</key>
	<string>dominoes-counter</string>
	<key>STORAGE_BUCKET</key>
	<string>dominoes-counter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864617191147:ios:6b1e2de0f94cf51534d0ae</string>
</dict>
</plist>